* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Montserrat, sans-serif;
}

/* Header */

header {
    width: 100%;
    height: auto;
    padding: 20px 0px;
    background-color: #fff;
    border-bottom: 2px solid #dedede;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 200;
    position: fixed;
    top: 0;
}

header > img {
    width: 200px;
    height: auto;
}

/* Main */

main {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    margin-top: 72px;
    margin-bottom: 72px;
    height: auto;
}

.outer-section {
    width: 100%;
    height: auto;
    background-color: #fff;
    border-radius: 20px;
    /* box-shadow: 0px 0px 5px #3d3d3d; */
    border: 2px solid #dedede;
    border-style: dashed;
    margin-bottom: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.outer-section > img {
    align-self: flex-end;
    margin-bottom: 20px;
}

.outer-section > button {
    margin-top: 20px;
    background-color: #dedede;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
}

/* Footer */

footer {
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: auto;
    background-color: #fff;
    border-top: 2px solid #dedede;
    display: flex;
    z-index: 100;
}

footer > a {
    flex: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0px;
    background-color: none;
}

footer > a:hover {
    background-color: #dedede;
}

footer > a:active {
    background-color: #f1f1f1;
}

.active {
    background-color: #f1f1f1;
}

footer > a > img {
    height: 25px;
}