.footer {
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: auto;
    background-color: #fff;
    border-top: 2px solid #dedede;
    display: flex;
    z-index: 300;
}

.footer__link {
    flex: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0px;
    background-color: none;
}

footer > a:hover {
    background-color: #dedede;
}

footer > a:active {
    background-color: #f1f1f1;
}

.active {
    background-color: #f1f1f1;
}

footer > a > img {
    height: 25px;
}