header {
    width: 100%;
    height: auto;
    padding: 20px 0px;
    background-color: #fff;
    border-bottom: 2px solid #dedede;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 400;
    position: fixed;
    top: 0;
}

.header__img {
    width: 200px;
    height: auto;
}