.insert {
    display: flex;
    flex-wrap: wrap;
}

.insert__headline {
    width: 100%;
    margin-bottom: 20px;
}

.input {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.input__items {
    width: auto;
    margin-bottom: 15px;
}

.input__title-field {
    width: 100%;
    border: 1px solid #2e778e;
    padding: 10px;
    border-radius: 10px;
    box-shadow: none;
    margin-top: 10px;
    color: #2e778e;
}

.input__title-field:focus-visible {
    border: 1px solid #2e778e;
    outline: #2e778e;
    border-radius: 10px;
    color: #2e778e;
}

.input__flex {
    display: flex;
    justify-content: center;
}

.input__title-label {
    color: #2e778e;
}