.profile {
    display: flex;
    flex-wrap: wrap;
}

.profile__headline {
    width: 100%;
    margin-bottom: 20px;
}

.profile-wrapper {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.profile-wrapper__items {
    width: auto;
    margin-bottom: 15px;
}

.profile__image {
    width: 100px;
    border-radius: 50%;
}

.profile-flex {
    display: flex;
    justify-content: center;
}

.items__text {
    line-height: 1.4rem;
    font-size: .8rem;
}

.profile-headline__small {
    margin-bottom: 10px;
}

.profile-badges {
    list-style-type: none;
    align-self: flex-start;
    display: flex;
    flex-wrap: wrap;
}

.profile-badges__items {
    display: flex;
    align-items: center;
    padding: 5px 10px;
    /* background-color: #83d6ff; */
    background-color: #f1f1f1;
    border-radius: 10px;
    font-size: .6rem;
    margin-right: 5px;
    box-shadow: inset 0 0 5px #dedede;
    margin-bottom: 10px;
}

.profile-badges__items__dot {
    display: block;
    border-radius: 10px;
    background-color: none;
    width: 6px;
    height: 6px;
    z-index: 300;
    margin-right: 5px;
    background-color: var(--primary-color);
}