* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Montserrat, sans-serif;
}

:root {
    --primary-color: #2e778e;
    --secondary-color: #83d6ff;
    --third-color: #449ecc;
    --fourth-color: #cf9a5c;
    --fifth-color: #47a353;
}