* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Montserrat, sans-serif;
}

.primary-color {
    background-color: #123456;
}

.secondary-color {
    background-color: #dedede;
}